@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  letter-spacing: 1px;

  background-color: $color-gray-light;

  &__container {
    display: grid;

    @extend %container;
    @extend %sectionpad;
    @include lg-min {
      gap: $gap-x5;
      grid-template-columns: 1fr 280px;
    }
    @include lg-md {
      gap: $gap-x2;
      grid-template-columns: 1fr 270px;
    }
    @include md-sm {
      gap: $gap;
      grid-template-columns: 1fr 230px;
    }
    @include sm {
      gap: $gap;
      grid-template-columns: 1fr;
    }
  }

  h2 {
    margin-top: 0;
  }

  &__content {
    p {
      @include lg-min {
        font-size: 1.125rem;
      }

      &:first-of-type {
        position: relative;

        &::after {
          position: absolute;
          top: 0;

          width: 2px;
          height: 200px;

          content: "";

          background-color: rgba($color-gray, 0.1);

          @include lg-min {
            right: -$gap-x2;
          }
          @include lg-md {
            right: -$gap;
          }
          @include md-sm {
            right: -$gap-sm;
          }
          @include sm {
            display: none;
          }
        }
      }
    }
  }

  &__image {
    display: grid;
    align-content: center;

    justify-items: center;

    img {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
